@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Space+Mono:wght@400;700&display=swap');

/* font-family: 'Inconsolata', monospace; */
/* font-family: 'Space Mono', monospace; */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h2 {
    font-size: 24px;
    font-family: 'Inconsolata', monospace;
    text-transform: uppercase;
    padding: 20px;
    font-weight: 700;

}

.content-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-img img {
    width: 539px;
    height: 447px;

}

.content-info h1 {
    font-size: 30px;
    font-family: 'Space Mono', monospace;
}