@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Space+Mono:wght@400;700&display=swap');

/* font-family: 'Inconsolata', monospace; */
/* font-family: 'Space Mono', monospace; */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h2 {
    font-size: 24px;
    font-family: 'Inconsolata', monospace;
    text-transform: uppercase;
    padding: 20px;
    font-weight: 700;
}

.content-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-img img {
    width: 539px;
    height: 447px;
}

.content-info h1 {
    font-size: 30px;
    font-family: 'Space Mono', monospace;
    text-align:center; 
}

.content-info p {
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Space Mono', monospace;
    
}

button {
    all: unset;
    margin-top: 30px;
    background-color: #333333;
    font-family: 'Space Mono', monospace;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 24px 43px;
    cursor: pointer;
}

footer {
    margin-top: 100px;
    text-align: center;
    padding: 10px 20px;
}

@media screen and (max-width: 480px){
    .content-container {
        flex-direction: column;
        justify-content: center;        
    }

    .content-img img{
        width: 286px;
        height: 238px;
    }

    .content-info h1 {
        margin-top: 50px;
        font-size: 35px;
        text-align:center; 
    }
}


@media screen and (min-width: 480px) and (max-width: 768px){

    .content-container {
        flex-direction: column;
        justify-content: center;        
    }

    .content-img img{
        width: 600px;
        /* height: 300px; */
    }

    .content-info h1 {
        margin-top: 55px;
        font-size: 40px;
        text-align:center; 
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){

    .content-container {
        flex-direction: column;
        justify-content: center;        
    }

    .content-img img{
        width: 600px;
        /* height: 300px; */
    }

    .content-info h1 {
        margin-top: 65px;
        font-size: 45px;
        text-align:center;        
    }
}

/* @media screen and (min-width: 1024px) { } */